body{
    background-color: black;
    font-family: "Libre Baskerville", serif;

}



.poster {
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    text-align: center;
    color: wheat;
    
}
.img {
    border: solid white;
    border-width: 10px;
    width: 100%;
}